<div class="container">
  <h2></h2>

</div>

<div class="card large">
  <div class="card-image">
    <!-- <img src={{(projectToDisplay | async)?.img}}> -->
    <span class="card-title">{{(projectToDisplay | async)?.title}}</span>
  </div>
  <div class="card-content">
    <h3>Borrower: {{(projectToDisplay | async)?.borrower}}</h3>
    <h4>Loan Amount: {{(projectToDisplay | async)?.totalLoanAmount}}</h4>
    <h4>Region: {{(projectToDisplay | async)?.region}}</h4>
    <h5>Category: {{(projectToDisplay | async)?.category}}</h5>
    <!-- <h5>${{(projectToDisplay | async)?.amountFunded}} funded of total ${{(projectToDisplay | async)?.totalLoanAmount}}</h5> -->

    <p>{{(projectToDisplay | async)?.description}}</p>
  </div>
  <div class="card-action">
    <a>Fund</a>
  </div>
</div>
