<div class="container">
  <div class="row">
    <h2 class="card-title">{{(projectToDisplay | async)?.title}}</h2>
  </div>
  <div class="row">
    <div class="">
      <img class="float-left" src="{{(projectToDisplay | async)?.img}}">
    </div>
    <div class="">
      <h3>Borrower: {{(projectToDisplay | async)?.borrower}}</h3>
      <div class="">
        <h5>Loan Amount: {{(projectToDisplay | async)?.totalLoanAmount}}</h5>
        <h5>Category: {{(projectToDisplay | async)?.category}}</h5>
        <h5>Region: {{(projectToDisplay | async)?.region}}</h5>
      </div>
    </div>
  </div>
  <hr>
  <p class="description">{{(projectToDisplay | async)?.description}}</p>
<div class="fundedContainer">
  <div class="fundedBar" [style.width.px]="calcPercent(((projectToDisplay | async)?.totalLoanAmount),((projectToDisplay | async)?.amountFunded))">
  </div>
</div>
<h6>Amount Funded: ${{(projectToDisplay | async)?.amountFunded}} of ${{(projectToDisplay | async)?.totalLoanAmount}}</h6>
<div class="">

  <!-- <select>
    <option value="10" selected="selected">$10</option>
    <option value="20">$20</option>
    <option value="50">$50</option>
  </select> -->
  <button class="btn" (click)="lendMoney(5)">Lend $5</button>
  <button class="btn" (click)="lendMoney(10)">Lend $10</button>
  <button class="btn" (click)="lendMoney(20)">Lend $20</button>
  <button class="btn" (click)="lendMoney(50)">Lend $50</button>

</div>

</div>
