img {
  height: 300px;
}
#none{
  width: 0%;
}
#little{
  width: 12%;
}
#slightly{
  width: 25%;
}
#somewhat {
  width: 50%;
}
#mostly{
  width: 75%;
}
#all{
  width: 100%;
}
.btn{
  margin-top:3px;
}
